<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Enter Players</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dark-body">
  <div class="center-box">
    <h1 class="huge">Enter Players</h1>
    <form method="POST">
      <input class="input" type="text" name="p1" placeholder="Player 1 Name" required><br>
      <input class="input" type="text" name="p2" placeholder="Player 2 Name" required><br>
      <button class="btn main-btn" type="submit">Continue</button>
    </form>
  </div>
</body>
</html>
